[submodule "etc/vim/pack/dtanabe/start/vim-jsonnet"]
	path = etc/vim/pack/dtanabe/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "etc/vim/pack/dtanabe/start/vim-toml"]
	path = etc/vim/pack/dtanabe/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "etc/vim/pack/dtanabe/start/vim-antlr"]
	path = etc/vim/pack/dtanabe/start/vim-antlr
	url = https://github.com/dylon/vim-antlr.git
